{% extends "layout/master.twig" %}

{% block title %}Inicio{% endblock %}

{% block head %}
    {{ parent() }}

{% endblock %}
{% block body_id %}productOverview{% endblock %}
{% block content %}
    <div class="container-fluid wide-content">
        <div class="container" id="breadcrumb">
            <ol>
                <li><a href="#">Inicio</a></li>
                <li>&gt;</li>
                <li>
                    <a href="{{ settings.DOMAIN }}categoria/{{ producto.id_categoria }}">{{ producto.categoria }}</a>
                </li>
                <li>&gt;</li>
                <li><span class="active-page">{% autoescape %}{{ producto.nombre | raw }}{% endautoescape %}</span></li>
            </ol>
        </div>
        <!-- end breadcrumb -->

        <div id="section_1">

            <div class="container">
                <div class="row product">
                    <div class="col-md-6 col-md-offset-0">
                        <img class="img-responsive" src="{{ producto.url_image }}"
                             id="bigPic"
                             alt=""
                             title=""/>
                    </div>
                    <div class="col-md-6" style="text-align: justify;">
                        <h2>{% autoescape %}{{ producto.nombre | raw }}{% endautoescape %}</h2>

                        <p>{% autoescape %}
                            {{ producto.descripcion | raw }}
                            {% endautoescape %}
                        </p>

                        <h3>${{ producto.precio }}</h3>

                        <button class="btn btn-primary add_cart" type="button" id=""
                                style="float:left; margin-top: 5px;">Agregar al carrito
                        </button>
                        <div style="clear: both"></div>

                        <p style="padding-top: 15px; font-size: 12px; font-style: italic;">Todas las entregas fuera de
                            la ciudad de Puebla se tendrán que cotizar con entrega a domicilio adicional</p>


                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}